@import url(https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap);

body {
  font-family: "Gabarito", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  transition: background-image 1s ease-in-out;
  position: relative;
  opacity: 0; /* Initially hidden */
  animation: fadeIn 2s forwards; /* Apply fade-in animation */
  overflow: hidden; /* Hide the overflow */
}

body::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, black 5%, transparent 95%);
  z-index: 1;
}

.container {
  position: relative;
  z-index: 2;
  padding: 20px 40px;
  text-align: center;
  margin-bottom: 50px; /* Space above the bottom edge */
  color: #fff; /* Keep text white for readability */
  box-shadow: none; /* Remove the shadow */
  background: none; /* Fully transparent background */
  opacity: 0;
  animation: fadeInText 2s 1s forwards; /* Fade-in effect for the text */
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: LemonChiffon; /* Golden for a festive vibe */
}

#countdown {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-size: 1.2rem;
}

#countdown div {
  text-align: center;
}

#countdown span {
  font-size: 2.5rem;
  display: block;
  font-weight: 700;
}

#photo-upload-section {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 0.75rem; /* Tiny font size */
}

#submit-link {
  color: gray;
  text-decoration: none;
  transition-duration: 500ms;
}

#submit-link:hover {
  color: lightgoldenrodyellow;
  text-decoration: underline;
}

#photo-credit {
  position: fixed;
  bottom: 23px;
  left: 10px;
  font-size: 0.75rem;
  color: #fff;
}

/* Add fade-in keyframes */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
